h1{
    color: brown;
}
img{
    width: 400px;
}
#thirdDiv{
    margin: 0 auto;
    height: 600px;
    width: 500px;
    background-color: darkgreen;
    padding: 50px;
    border: 12px solid blue;
}
#spanId{
    margin: 10px auto;
    font-size: 20px;
    margin: 50px;
}
